.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #343434;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #1B1212;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #FAF9F6;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  font-size: 24px;
  font-weight: 600;
  color: #FAF9F6;
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.board {
  display: grid;
  gap: 1px;
  background-color: #1B1212;
  padding: 2px;
  border-radius: 8px;
  width: min(70vw, 70vh);
  height: min(70vw, 70vh);
}

.row {
  display: contents;
}

.cell {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all 0.2s ease;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  opacity: 0.7;
  transform: scale(0.95);
}

.queen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queen svg {
  width: 75%;
  height: 75%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #FAF9F6;
  flex: 1;
}

.startButton {
  margin-top: 20px;
  width: 200px;
  height: 48px;
  background-color: #01d6a8;
  color: #fff;
  font-family: var(--font-geist-mono);
  font-size: 28px;
  font-weight: 800;
}

.instructions {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  color: #FAF9F6;
  flex: 1;
}

@media (max-width: 764px) {
  .body {
    flex-direction: column;
  }

  .board {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
  }

  .info {
    margin-top: 10px;
  }
}